.header__logo {
  cursor: pointer;
  display: flex;
  gap: 10px;

  img {
    width: 88px;
    height: 88px;
  }

  @media (max-width: 1200px) {

    h1 {
      font-size: 32px;
      margin-top: 12px;
    }

    p {
      font-size: 12px;
    }
  }

}
