.root {
  position: relative;
}

.input {
  border: 1px solid #c4c4c4;
  padding: 12px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 25px;
  font-size: 16px;

  &:focus {
    border: 1px solid #9e9e9e;
  }

  @media (max-width: 1260px) {
    width: 300px;
    margin: 0 auto;
  }

  @media (max-width: 1060px) {
    width: 240px;
    margin: 0 auto;
  }
}

.search {
  width: 28px;
  position: absolute;
  top: 10px;
  left: 11px;
  opacity: 0.4;
}

.clear {
  position: absolute;
  width: 30px;
  opacity: 0.4;
  top: 9px;
  right: 11px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
